<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="body">
    <div class="content" style="">
        <div class="focus">
            <div id="myCarousel" class="carousel slide" style="display: inline-block; text-align-last: end;margin-left: -194px;">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" data-interval="100" style="width: 550px;
                margin: 0 auto 15px auto;">
                    <div class="item active">
                        <img src="/images/slide1.png" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="/images/slide1.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="/images/slide1.png" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span> -->
                </a>
            </div>
            <div class="panel panel-warning" style="display: inline-block;position: absolute;width: 13%;">
                <div class="panel-heading">
                    <h3 class="panel-title">热门内容</h3>
                </div>
                <div class="panel-body index-article">
                    <ul>
                        <li class="item item-1">
                            <a class="tag">推荐</a>
                            <a class="tit" href="wh/63122.html" target="_blank">89年出生属蛇五行属什么？</a>
                        </li>

                        <li class="item item-4">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/473.html" target="_blank">女士包包什么颜色聚财</a>
                        </li>

                        <li class="item item-5">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/63303.html" target="_blank">1976年中国发生了什么大事</a>
                        </li>

                        <li class="item item-6">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/30890.html" target="_blank">具有诗意的网名男生</a>
                        </li>

                        <li class="item item-7">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/11056.html" target="_blank">算命的说是童子啥意思</a>
                        </li>

                        <li class="item item-8">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/31516.html" target="_blank">十二天干地支对照表</a>
                        </li>

                        <li class="item item-9">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/35555.html" target="_blank">瑞名字中的含义是什么</a>
                        </li>

                        <li class="item item-10">
                            <a class="tag">【文化】</a>
                            <a class="tit" href="wh/67650.html" target="_blank">脸部出现了二条眉间纹好不好</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="grid clearfix" style="text-align: left;margin-left: 580px;">
            <div class="content-left" style="width: 550px;">
                <div class="one-cont">
                    <div class="one-cont-title clearfix">
                        <div class="one-cont-font clearfix">
                            <a href="/user/2245">
                                <em>
                                    <img class="js_img" data-default="user" src="http://www.szeasyin.com/Upload/Users/0/2/2245.jpg" alt=""></em>
                                <i>浮夸好吗</i>
                            </a>
                        </div>
                    </div>
                    <a href="/wh/59243.html">
                        <div class="entry-content clearfix">

                            <p class="fonts">
                                从风水上讲房子买在11楼好吗?
                            </p>
                            看到楼主的问题&nbsp;我心里很凌乱。楼层数理跟所有人是否相合跟所有人出生时间相关，但从健康角度看，9--11层为扬灰层，如果楼盘四周道路密集&nbsp;要考虑影响。从风水上讲房子买在11楼好吗？无论是...

                            <div class="row"></div>
                        </div>
                    </a>
                    <ul class="discuss clearfix number">
                        <li class="range js_support">
                            <i class="support" type="1" catid="2" dataid="59243"></i>
                            <span>10</span>
                        </li>
                        <li class="range js_support">
                            <i class="nosupport" type="0" catid="2" dataid="59243"></i>
                            <span>4</span>
                        </li>
                        <li class="range js_collect">
                            <i class="collect" type="1" catid="2" dataid="59243"></i>
                            <span>0</span>
                        </li>
                        <li class="range js_comment">
                            <a href="/wh/59243.html">
                                <i></i>
                                <span>0</span>
                            </a>
                        </li>
                        <li class="range shares">
                            <i></i>
                            <span>0</span>
                            <div class="fen bdsharebuttonbox share-component social-share" data-initialized="true" catid="2" dataid="59243">
                                <a class="bds_weixin weixin icon-wechat" data-cmd="weixin" href="javascript:;" tabindex="-1"></a>
                                <a class="bds_qzone qq icon-qq" data-cmd="qq" href="http://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F59243.html&amp;title=&amp;source=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png" target="_blank"></a>
                                <a class="bds_qzone qzone icon-qzone" data-cmd="qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F59243.html&amp;title=&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;summary=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;site=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8" target="_blank"></a>
                                <a class="bds_tsina sina icon-weibo" data-cmd="tsina" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F59243.html&amp;title=&amp;pic=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;appkey=" target="_blank"></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="one-cont">
                    <div class="one-cont-title clearfix">
                        <div class="one-cont-font clearfix">
                            <a href="/user/724">
                                <em>
                                    <img class="js_img" data-default="user" src="http://www.szeasyin.com/Upload/Users/0/0/724.jpg" alt=""></em>
                                <i>爱装逼de青年</i>
                            </a>
                        </div>
                    </div>
                    <a href="/wh/37987.html">
                        <div class="entry-content clearfix">

                            <p class="fonts">
                                捡到狗预示什么
                            </p>
                            捡到狗有什么寓意？狗的寓意是可以旺财。如果你朋友要送你狗狗，那你一定要给钱。不管多少，一定要给点。楼上说的没发财，那是很正常的。因为狗狗又不是金元宝，能带你给很多财富。但是只要你做事肯认真，...

                            <div class="row"></div>
                        </div>
                    </a>
                    <ul class="discuss clearfix number">
                        <li class="range js_support">
                            <i class="support" type="1" catid="2" dataid="37987"></i>
                            <span>4</span>
                        </li>
                        <li class="range js_support">
                            <i class="nosupport" type="0" catid="2" dataid="37987"></i>
                            <span>3</span>
                        </li>
                        <li class="range js_collect">
                            <i class="collect" type="1" catid="2" dataid="37987"></i>
                            <span>0</span>
                        </li>
                        <li class="range js_comment">
                            <a href="/wh/37987.html">
                                <i></i>
                                <span>0</span>
                            </a>
                        </li>
                        <li class="range shares">
                            <i></i>
                            <span>0</span>
                            <div class="fen bdsharebuttonbox share-component social-share" data-initialized="true" catid="2" dataid="37987">
                                <a class="bds_weixin weixin icon-wechat" data-cmd="weixin" href="javascript:;" tabindex="-1"></a>
                                <a class="bds_qzone qq icon-qq" data-cmd="qq" href="http://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;source=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png" target="_blank"></a>
                                <a class="bds_qzone qzone icon-qzone" data-cmd="qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;summary=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;site=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8" target="_blank"></a>
                                <a class="bds_tsina sina icon-weibo" data-cmd="tsina" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;pic=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;appkey=" target="_blank"></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="Pager" class="pagination-wrap"><a class="status">1</a>&nbsp;&nbsp;<a href="/index_2.html">2</a>&nbsp;&nbsp;<a href="/index_3.html">3</a>&nbsp;&nbsp;<a href="/index_4.html">4</a>&nbsp;&nbsp;<a href="/index_5.html">5</a>&nbsp;&nbsp;<a href="/index_6.html">...</a>&nbsp;&nbsp;<a href="/index_2.html">下一页</a>&nbsp;&nbsp;</div>
                <input value="0" type="hidden" name="type" class="type">
            </div>
            <div class="content-right" style="display: inline-block;position: absolute;margin-left: 10px;width: 14%;">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">最新文章</h3>
                    </div>
                    <div class="panel-body index-article">
                        <ul>
                            <li class="item item-1">
                                <a class="tag">推荐</a>
                                <a class="tit" href="wh/63122.html" target="_blank">89年出生属蛇五行属什么？</a>
                            </li>

                            <li class="item item-4">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/473.html" target="_blank">女士包包什么颜色聚财</a>
                            </li>

                            <li class="item item-5">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/63303.html" target="_blank">1976年中国发生了什么大事</a>
                            </li>

                            <li class="item item-10">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/67650.html" target="_blank">脸部出现了二条眉间纹好不好</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-warning" style="position: inherit;margin-top: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门文章</h3>
                    </div>
                    <div class="panel-body index-article">
                        <ul>
                            <li class="item item-1">
                                <a class="tag">推荐</a>
                                <a class="tit" href="wh/63122.html" target="_blank">89年出生属蛇五行属什么？</a>
                            </li>

                            <li class="item item-4">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/473.html" target="_blank">女士包包什么颜色聚财</a>
                            </li>

                            <li class="item item-5">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/63303.html" target="_blank">1976年中国发生了什么大事</a>
                            </li>

                            <li class="item item-6">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/30890.html" target="_blank">具有诗意的网名男生</a>
                            </li>

                            <li class="item item-7">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/11056.html" target="_blank">算命的说是童子啥意思</a>
                            </li>

                            <li class="item item-8">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/31516.html" target="_blank">十二天干地支对照表</a>
                            </li>

                            <li class="item item-9">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/35555.html" target="_blank">瑞名字中的含义是什么</a>
                            </li>

                            <li class="item item-10">
                                <a class="tag">【文化】</a>
                                <a class="tit" href="wh/67650.html" target="_blank">脸部出现了二条眉间纹好不好</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#myCarousel').carousel({interval:4000}); //每隔4秒自动轮播
        });
    </script>
</body>
</html>