<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="body">
    <div class="footer" style="display: inline-block;position: relative;margin-top: 140px;margin-bottom: 30px;">
        <div class="grid">
            <div class="copy">
                <span><a href="https://beian.miit.gov.cn" target="_blank">粤ICP备11103777号-1</a></span>
            </div>
        </div>
    </div>
</body>
</html>