<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body th:fragment="body">
    <div class="container jh_top">
        <ul class="nav nav-tabs clearfix">
            <li name="index"><a href="/">首页</a></li>
            <li name="fortunetelling"><a href="/articleView/fortune-telling"><span>算命</span></a></li>
            <li name="fengshui"><a href="/articleView/fengshui"><span>风水</span></a></li>
            <li name="culture"><a href="/articleView/culture"><span>文化</span></a></li>
            <li name="column"><a href="/articleView/column"><span>专题</span></a></li>
            <li name="contribution"><a href="/articleView/contribution"><span>投稿</span></a></li>
            <li name="classification"><a href="/articleView/classification"><span>分类</span></a></li>
            <li>
                <form class="bs-example bs-example-form" role="form" style="padding-top: 7px;">
                    <div class="row">
                        <div class="col-lg-6" style="display: inline-table;width: 80%;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入关键字"
                                       style="height: 25px;font-size: 12px;font-family: microsoft yahei;float: left;color: #999;">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        style="height: 25px;padding-top: 2px;background: #f90;">
                                    搜索
                                </button>
                            </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </li>
            <li>
                <a href="#" style="display: inline-block">注册</a>
                <span style="display: inline-block">|</span>
                <a href="#" style="display: inline-block">登录</a>
            </li>
        </ul>
    </div>
    <script>
    </script>
</body>
</html>