<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/head :: head">
    </head>
    <body>
        <header th:include="fragments/top :: body" th:remove="tag"></header>

        <div class="content">
            <div class="grid clearfix" style="text-align: left;margin-left: 580px;">
                <div class="content-left" style="width: 550px;">

                    <div class="one-cont" th:each="article,stat :${articleList.getBody()}">
                        <div class="one-cont-title clearfix">
                            <div class="one-cont-font clearfix">
                                <a href="/user/724">
                                    <em>
                                        <img class="js_img" data-default="user" src="http://www.szeasyin.com/Upload/Users/0/2/2245.jpg" alt=""></em>
                                    <i th:text="${article.getAuthor()}">articleAuthor</i>
                                </a>
                            </div>
                        </div>
                        <a th:href="${'/articleView/detail/culture/' + article.getId()}">
                            <div class="entry-content clearfix">
                                <p class="fonts" th:text="${article.getTitle() + ' [' + (stat.index + 1) + ']'}">
                                    title
                                </p>
                                <span th:text="|${#strings.substring(article.getContent(), 0, 90)}...|">content</span>
                                <div class="row"></div>
                            </div>
                        </a>
                        <ul class="discuss clearfix number">
                            <li class="range js_support">
                                <i class="support" type="1" catid="2" dataid="37987"></i>
                                <span th:text="${article.getPraiseNum()}">0</span>
                            </li>
                            <li class="range js_support">
                                <i class="nosupport" type="0" catid="2" dataid="37987"></i>
                                <span th:text="${article.getNegativeNum()}">0</span>
                            </li>
                            <li class="range js_collect">
                                <i class="collect" type="1" catid="2" dataid="37987"></i>
                                <span th:text="${article.getCollectNum()}">0</span>
                            </li>
                            <li class="range js_comment">
                                <a href="/wh/37987.html">
                                    <i></i>
                                    <span th:text="${article.getCommentNum()}">0</span>
                                </a>
                            </li>
                            <li class="range shares">
                                <i></i>
                                <span th:text="${article.getShareNum()}">0</span>
                                <div class="fen bdsharebuttonbox share-component social-share" data-initialized="true" catid="2" dataid="37987">
                                    <a class="bds_weixin weixin icon-wechat" data-cmd="weixin" href="javascript:;" tabindex="-1"></a>
                                    <a class="bds_qzone qq icon-qq" data-cmd="qq" href="http://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;source=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png" target="_blank"></a>
                                    <a class="bds_qzone qzone icon-qzone" data-cmd="qzone" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;pics=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;desc=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;summary=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%E6%8F%90%E4%BE%9B%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8%EF%BC%8C%E6%98%AF%E6%82%A8%E6%9F%A5%E6%89%BE%E5%92%8C%E5%8F%82%E8%80%83%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E7%9A%84%E4%BC%98%E7%A7%80%E7%BD%91%E7%AB%99%E3%80%82&amp;site=%E7%AE%80%E5%8D%95%E7%9F%A5%E8%AF%86%E7%BD%91%7C%E6%96%87%E5%8C%96%E7%9F%A5%E8%AF%86%E5%A4%A7%E5%85%A8" target="_blank"></a>
                                    <a class="bds_tsina sina icon-weibo" data-cmd="tsina" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fwww.szeasyin.com%2Fwh%2F37987.html&amp;title=&amp;pic=www.szeasyin.com%2Fassets%2Fimages%2Ficos.png&amp;appkey=" target="_blank"></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="pageBox" class="pagination-wrap"></div>
                    <input value="0" type="hidden" name="type" class="type">
                </div>
                <div class="content-right" style="display: inline-block;position: absolute;margin-left: 10px;width: 12.5%;">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">最新文章</h3>
                        </div>
                        <div class="panel-body index-article">
                            <ul>
                                <li class="item item-1">
                                    <a class="tag">推荐</a>
                                    <a class="tit" href="wh/63122.html" target="_blank">89年出生属蛇五行属什么？</a>
                                </li>

                                <li class="item item-4">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/473.html" target="_blank">女士包包什么颜色聚财</a>
                                </li>

                                <li class="item item-5">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/63303.html" target="_blank">1976年中国发生了什么大事</a>
                                </li>

                                <li class="item item-10">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/67650.html" target="_blank">脸部出现了二条眉间纹好不好</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-warning" style="position: inherit;margin-top: 200px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">热门文章</h3>
                        </div>
                        <div class="panel-body index-article">
                            <ul>
                                <li class="item item-1">
                                    <a class="tag">推荐</a>
                                    <a class="tit" href="wh/63122.html" target="_blank">89年出生属蛇五行属什么？</a>
                                </li>

                                <li class="item item-4">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/473.html" target="_blank">女士包包什么颜色聚财</a>
                                </li>

                                <li class="item item-5">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/63303.html" target="_blank">1976年中国发生了什么大事</a>
                                </li>

                                <li class="item item-6">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/30890.html" target="_blank">具有诗意的网名男生</a>
                                </li>

                                <li class="item item-7">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/11056.html" target="_blank">算命的说是童子啥意思</a>
                                </li>

                                <li class="item item-8">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/31516.html" target="_blank">十二天干地支对照表</a>
                                </li>

                                <li class="item item-9">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/35555.html" target="_blank">瑞名字中的含义是什么</a>
                                </li>

                                <li class="item item-10">
                                    <a class="tag">【文化】</a>
                                    <a class="tit" href="wh/67650.html" target="_blank">脸部出现了二条眉间纹好不好</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function(){
                $('#myCarousel').carousel({interval:4000}); //每隔4秒自动轮播
            });

            var total = [[${articleList.getTotal()}]],//数据总条数
                pageNumber = [[${pageNumber}]],//当前页
                pageSize = [[${pageSize}]], //每页显示的条数
                edges = 2,//两侧显示的页码数 大于1
                playes = 5,//主页码区显示的页码数 大于3
                pages = Math.ceil(total / pageSize);//总页数
            renderPageItem();
            function renderPageItem() {
                $ul = $('<ul class="pagination"></ul>');
                var start = 1;
                var end = pages;
                if (pages < playes) {
                    playes = pages;
                }
                if (playes % 2) {
                    //playes是奇数
                    start = pageNumber - Math.floor(playes / 2);
                    end = pageNumber + Math.floor(playes / 2);
                } else {
                    //playes是偶数
                    start = pageNumber - (playes / 2 - 1);
                    end = pageNumber + playes / 2;
                }

                if (start <= edges + 1) {
                    start = 1;
                    if (end < playes && playes<pages) {
                        end = playes;
                    }
                } else {
                    for (var i = 1; i <= edges; i++) {
                        $ul.append(renderItem(i));
                    }
                    $ul.append('<li><span>...</span></li>')
                }
                if (end < pages - edges) {
                    for (var i = start; i <= end; i++) {
                        $ul.append(renderItem(i));
                    }
                    $ul.append('<li><span>...</span></li>');
                    for (var i = pages - edges + 1; i <= pages; i++) {
                        $ul.append(renderItem(i));
                    }
                } else {
                    end = pages;
                    if(start>pages-playes+1){
                        start = pages-playes+1
                    }
                    for (var i = start; i <= end; i++) {
                        $ul.append(renderItem(i));
                    }
                }
                $ul.prepend(renderPrevItem());
                $ul.append(renderNextItem());
                $('#pageBox').empty().append($ul);
            }

            function renderItem(i) {
                $item = $('<li><a href="#">' + i + '</a></li>');
                if (i == pageNumber || (pageNumber == null && i == 1)) {
                    $item.addClass('active');
                }
                $item.on('click', (function (num) {
                    return function () {
                        pageNumber = num;
                        renderPageAndData(pageNumber, pageSize);
                        renderPageItem();
                    }
                })(i));
                return $item
            }

            function renderPrevItem() {
                $prev = $('<li><a href="#">&laquo;</a></li>');
                if (pageNumber == 1) {
                    $prev.addClass('disabled');
                } else {
                    $prev.on('click', function () {
                        pageNumber = pageNumber - 1;
                        renderPageAndData(pageNumber, pageSize);
                        renderPageItem();
                    })
                }
                return $prev;
            }

            function renderNextItem() {
                $next = $('<li><a href="#">&raquo;</a></li>');
                if (pageNumber == pages) {
                    $next.addClass('disabled');
                } else {
                    $next.on('click', function () {
                        pageNumber = pageNumber + 1;
                        renderPageAndData(pageNumber, pageSize);
                        renderPageItem();
                    })
                }
                return $next;
            }

            function renderPageAndData(pageNumber, pageSize) {
                var urlstr = /*[[@{/articleView/fortune-telling}]]*/;
                window.location.href =urlstr + '?pageNumber=' + pageNumber + '&pageSize=' + pageSize;
            }
        </script>

        <footer th:include="fragments/footer :: body" th:remove="tag"></footer>
    </body>
</html>