<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huimao.xingbu.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.huimao.xingbu.model.Article">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="praisenum" jdbcType="INTEGER" property="praiseNum"/>
        <result column="negativenum" jdbcType="INTEGER" property="negativeNum"/>
        <result column="collectnum" jdbcType="INTEGER" property="collectNum"/>
        <result column="commentnum" jdbcType="INTEGER" property="commentNum"/>
        <result column="sharenum" jdbcType="INTEGER" property="shareNum"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifytime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <!-- id,title,content,status,author,praiseNum, negativeNum, collectNum, commentNum,shareNum,createTime,modifyTime -->

    <resultMap id="TotalMap" type="java.lang.Long">
        <result column="recordCounts" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,status,author,category
        , praisenum, negativenum, collectnum, commentnum,sharenum,createtime,modifytime
    </sql>
    <sql id="Detail_Column_List">
        id,title,content,status,author,category,detail
        , praisenum, negativenum, collectnum, commentnum,sharenum,createtime,modifytime
    </sql>
    <select id="getArticle" parameterType="com.huimao.xingbu.model.ArticleParam" resultMap="BaseResultMap,TotalMap">
        select sql_calc_found_rows
        <include refid="Base_Column_List"/>
        FROM article a
        <where>
            <if test="category != null">
                AND a.category = #{category}
            </if>
            <if test="id != null">
                AND a.id = #{id}
            </if>
        </where>
        ORDER BY a.createtime DESC
        <if test="start != null and limit != null and limit != 0">
            limit #{start},#{limit}
        </if>
        ;SELECT found_rows() AS recordCounts;
    </select>

    <select id="getArticleDetail" parameterType="com.huimao.xingbu.model.ArticleParam" resultType="com.huimao.xingbu.model.Article">
        select
        <include refid="Detail_Column_List"/>
        FROM article a
        <where>
            <if test="category != null">
                AND a.category = #{category}
            </if>
            <if test="id != null">
                AND a.id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertArticle" parameterType="com.huimao.xingbu.model.Article">
        insert into article (id,title,content,status,author,category,detail
        , praisenum, negativenum, collectnum, commentnum,sharenum,createtime,modifytime
        )
        values
        (#{id} , #{title} , #{content} , #{status} ,#{author}, #{category} ,#{detail}
         , #{praiseNum} ,#{negativeNum} ,#{collectNum} ,#{commentNum} ,#{shareNum} ,#{createTime} ,#{modifyTime} )
    </insert>


</mapper>